/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

/* bss custom */
#customer_login .password-field {
  display: block !important;
}

.productView-info {
  text-transform: uppercase;
}

.productView-info-title {
  text-transform: uppercase;
}

p#shopify-installments {
  display: none !important;
}