/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/

/* bss custom */
#customer_login .password-field {
  display: block !important;
}

.collection-banner .image img {
  object-fit: contain !important;
}

.collection-banner {
  top: -16px;
}