
            {{ 'bss-b2b-state.js' | asset_url | script_tag }}
            <script id="bss-b2b-wholesaler-form">
            if (typeof BSS_B2B == 'undefined') {
              var BSS_B2B = {};
            }
            BSS_B2B.formDataRender = [];
            BSS_B2B.formId = 21351;
            BSS_B2B.reCAPCHA = 1;
            BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
            BSS_B2B.status = 1;
            BSS_B2B.created_account = 0;
            BSS_B2B.redirect_url = "";
            BSS_B2B.taxExempt = 0;
            BSS_B2B.formPrivacyPolicyStatus = 0;
            BSS_B2B.formPrivacyPolicyContent = `<p>By clicking Create, I confirm that I have read and accepted the <a href="/">privacy policy</a></p>`;
            BSS_B2B.conditionalLogic = [];
            </script>
            <style>#RegisterForm input[type="submit"] {
    width: fit-content !important;
    padding: 16px 24px !important;
    height: auto !important;
    margin: auto !important;
    margin-top: 10px !important;
    background-color: #000 !important;
    color: #fff !important;
    font-size: 18px !important;
border-radius: 8px;
}
.page-width {
margin: 0px 20px;
}
.page-width .grid{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 42px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    max-width: 650px;
    margin-top: 40px;
    border-color: rgba(97,97,97,1);
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    background: #FFF;
}
#RegisterForm select,
#RegisterForm textarea,
#RegisterForm input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    border: 1px solid #7D7D7D;
    background-color: rgba(238,238,238,1) !important;
    color: #333 !important;
    font-weight: normal;
    font-style: normal;
    border-radius: 6px;
}
#RegisterForm input:not([type="checkbox"]):not([type="radio"]) { 
    height: 32px;
    padding: 6px 12px;
}
#RegisterForm .field {
display: block !important;
}
#RegisterForm label {
font-size: 14px;
font-weight: 500;
}
.bss-grid-2 {
    display: grid;
    grid-template-columns: calc(50% - 14px) calc(50% - 14px);
    column-gap: 28px;
}
#RegisterForm input[type=checkbox], input[type=radio] {
appearance: auto !important;
height: auto;
    width: auto;
    display: block;
    position: unset;
}
.formbuilder-checkbox {
    display: flex;
}
@media screen and (max-width: 750px) {
.bss-grid-2 {
display: block;
}
}
.page-width h1 {
    line-height: normal;
}
.g-recaptcha {
    display: flex;
    justify-content: center;
}</style>
            
            {% assign bss-b2b-include-password = true %}
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="rte">
                {{ page.content }}
            </div>
        </div>
        {% section 'bss-b2b-wholesaler-form-21351' %}
    </div>
</div>